.btn-normal {
   display: flex;
   justify-content: center;
   align-items: center;
   padding: 1rem 1.5rem;
   margin: 1rem;
   border-radius: 6px;
   background-color: #0069ed;
   color: white;
   font-weight: 900;
   cursor: pointer;
   transition: 0.2s;
   /* border: 1px solid rgb(255, 255, 255); */
}

.soft {
   background-color: #0b3e6c;
}
.hard {
   background-color: #0b3e6c;
}
.all {
   background-color: #0b3e6c;
}

.btn-normal.soft:hover,
.btn-normal.hard:hover,
.btn-normal.all:hover {
   background-color: #0f5088;
}

.active {
   border: 3px solid red;
}
