.btn-normal {
   display: flex;
   width: 28vw;
   height: 100%;
   justify-content: center;
   align-items: center;
   padding: 0.8rem 0.6rem;
   font-size: 0.9rem;
   margin: 0.5rem;
   border-radius: 6px;
   background-color: var(--primary);
   color: white;
   font-weight: 900;
   cursor: pointer;
   transition: 0.2s;
   border: 1px solid rgb(255, 255, 255);
}

.soft-btn {
   background-color: #0b3e6c;
}
.hard-btn {
   background-color: #0b3e6c;
}
.all-btn {
   background-color: #0b3e6c;
}

.btn-normal.soft:hover,
.btn-normal.hard:hover,
.btn-normal.all:hover {
   background-color: #0f5088;
}

.active {
   background-color: var(--secondary);
}
