@import url("../Reset.css");
@import url("https://fonts.googleapis.com/css2?family=Hammersmith+One&display=swap");

/* Navbar */

nav {
   height: 10vh;
   background-color: #000;
}

.top-container {
   height: 100%;
   background-color: #000;
   display: flex;
   align-items: center;
   justify-content: space-between;
}

/* Logo */

.logo h1 {
   font-family: "Hammersmith One", sans-serif;
   font-size: 1.8rem;
   margin: 1rem 1rem 0.5rem 1rem;
   font-weight: 900;
   color: white;
   /* text-shadow: 0px 4px 7px rgba(255, 255, 255, 0.904); */
}
.logo-mobile {
   font-family: "Hammersmith One", sans-serif;
   margin: 6rem auto 2rem auto;
   height: 1.5vh;
   width: 40%;
   padding: 1rem;
   font-size: 2rem;
   color: rgb(38, 38, 38);
}
