/* Containers */

.portfolio-container {
   display: flex;
   justify-content: center;
   align-items: center;
   flex-direction: column;
}

.single-item {
   padding: 1.3rem;
   display: flex;
   margin: 1rem;
   justify-content: center;
   align-items: center;
   flex-direction: column;
   height: 100%;
   width: 80%;
   background-color: #fff;
   border-radius: 7px;
}

/* Header Top */

.single-item-header .container {
   width: 100%;
   padding: 0.5rem;
}

.single-item-header-text h1 {
   margin: 0.7rem;
   color: white;
   font-size: 1.6rem;
   font-weight: 900;
}
.single-item-header-text h2 {
   margin: 0.7rem;
   font-size: 1.8rem;
   font-weight: 700;
}

.single-item-header {
   width: 100%;
}

.single-item-header-text .container {
   display: flex;
   justify-content: space-around;
   align-items: center;
   color: white;
   border: 1px solid black;
   border-radius: 5px;
   background-color: black;
}

.single-item-links {
   margin: 0.5rem auto;
   width: 100%;
   display: flex;
   justify-content: space-between;
   align-items: center;
}

.single-item-links a {
   width: 80%;
}
.window,
.git,
.live,
.single-item-icon {
   display: flex;
   justify-content: center;
   align-items: center;
   color: white;
}

.live,
.git {
   background-color: var(--primary);
   font-weight: 900;
   margin: 0 auto;
   padding: 0.7rem;
   font-size: 1.1rem;
   border-radius: 4px;
   transition: 0.4s;
   width: 90%;
}

.live:hover,
.git:hover {
   transform: scale(1.05);
   background-color: #0354b8;
}

.live p,
.git p {
   margin: 0.3rem 0.7rem;
   font-size: 0.8rem;
}

/* Photo Middle */

.single-item-photo {
   height: 100%;
   width: 100%;
   display: flex;
   justify-content: center;
   align-items: center;
}
img {
   display: block;
   height: 80%;
   width: 100%;
}

/* Info Bottom */

.single-item-info h1 {
   margin: 0.5rem 0.6rem;
   padding: 1rem 0.5rem 0 0.5rem;
   font-size: 1.3rem;
   font-weight: 900;
}

.single-item-info p {
   line-height: 1.2rem;
   padding: 0.5rem 1rem;
   font-size: 0.8rem;
}

/* Icon */

h2 svg {
   height: 100%;
   width: 100%;
   color: white;
   font-size: 2.5rem;
}

.stick {
   position: fixed;
   top: 90%;
   left: 0;
}

@media screen and (min-width: 801px) {
   .single-item {
      width: 40vw;
      height: 65vh;
      margin: 1rem;
      justify-content: space-between;
   }
   .portfolio-container {
      flex-wrap: wrap;
      flex-direction: row;
      padding: 1.5rem;
   }

   .live,
   .git {
      margin: 0 auto;
      height: 100%;
      width: 95%;
      font-size: 1rem;
   }
}

@media screen and (min-width: 1101px) {
   .single-item {
      width: 29vw;
      height: 65vh;
   }
}

.bar {
   background-color: var(--secondary);
   text-align: center;
   color: white;
   padding: 0.5rem;
   font-weight: 900;
   font-size: 0.9rem;
}

.bar a {
   color: white;
}
