.skills-container {
   display: flex;
   justify-content: space-around;
   align-items: center;
   flex-direction: column;
   width: 100vw;
   background-color: black;
}

.top {
   height: 50%;
   width: 100%;
   /* border: 2px solid red; */
}
.bottom {
   height: 50%;
   width: 100%;
   border: 2px solid yellow;
}

.hard-skills {
   height: 100%;
   /* border: 3px solid green; */
}

.top-item,
.item,
.bottom-item {
   display: flex;
   justify-content: center;
   align-items: center;
}

.item {
   flex-direction: column;
   margin: 2rem auto 3rem auto;
   padding: 0.2rem;
   max-width: 80%;
   height: 80%;
   border-radius: 10px;
   transition: 0.5s ease-in-out;
   box-shadow: 0 0 5px 5px transparent;
   border: 2px solid transparent;
}

.item:hover {
   transform: scale(1.03);
}
.top-item {
   margin: 0 1rem 1rem 1rem;
   padding: 2rem 1rem;
   color: white;
   font-weight: 700;
   height: 120%;
   width: 100%;
   justify-content: space-around;
   border-radius: 5px;
}

.top-item .name {
   font-size: 2rem;
}

.bottom-item {
   width: 100%;
   justify-content: space-around;
   flex-direction: column;
   padding: 1rem;
   border-radius: 5px;
   color: white;
}

.bottom-item p {
   padding: 0.2rem;
   line-height: 1.3rem;
   font-size: 1.1rem;
   font-weight: 700;
   width: 100%;
   margin: 0.3rem;
   transition: 0.4s;
   border-bottom: 1px solid transparent;
}

.bottom-item h2 {
   margin: 1.5rem;
   font-size: 1.4rem;
   font-weight: 900;
   width: 100%;
   text-align: center;
}

.list-element {
   width: 100%;
   display: flex;
   justify-content: center;
   align-items: center;
}
.dot {
   margin: 0.5rem;
   background-color: white;
   height: 5px;
   width: 5px;
   border-radius: 50%;
}

.item.react:hover {
   box-shadow: 0 0 10px 3px rgb(94, 211, 243);
}

.item.react .top-item {
   background-color: rgb(94, 211, 243);
}

.item.react .bottom-item {
   background-color: rgba(94, 211, 243, 0.8);
}

.item.javascript:hover {
   box-shadow: 0 0 10px 3px rgb(234, 212, 29);
}

.item.javascript .top-item {
   background-color: rgb(240, 218, 20);
}

.item.javascript .bottom-item {
   background-color: rgba(215, 195, 21, 0.8);
}

.item.html:hover {
   box-shadow: 0 0 10px 3px rgb(229, 96, 38);
}

.item.html .top-item {
   background-color: rgb(229, 96, 38);
}

.item.html .bottom-item {
   background-color: rgba(229, 96, 38, 0.8);
}

.item.css:hover {
   box-shadow: 0 0 10px 3px rgb(37, 74, 221);
}
.item.css .top-item {
   background-color: rgb(37, 74, 221);
}

.item.css .bottom-item {
   background-color: rgba(37, 74, 221, 0.8);
}

/* later */

.logo {
   display: flex;
   align-items: center;
   font-size: 3rem;
   color: white;
}

span.mark {
   font-style: italic;
   font-weight: 500;
}
