.skills-container {
   margin: 0 auto;
   color: rgb(255, 255, 255);
   background-color: black;
   display: flex;
   justify-content: space-around;
   align-items: center;
   flex-direction: column;
   min-height: 100vh;
   width: 95%;
}

.top-section,
.middle-section,
.bottom-section {
   margin: 1rem;

   height: 30%;
   width: 90%;
   border: 1px solid white;
   border-radius: 5px;
}

.top-section {
   display: flex;
   justify-content: space-around;
   align-items: center;
   flex-direction: column;
   height: 70vh;
}

.top-section .photo {
   margin: 1rem;
   border: 3px solid rgb(255, 255, 255);
   height: 70%;
   width: 50%;
}

.top-section .name {
   font-size: 1.3rem;
}

.top-section .container1,
.container2 {
   display: flex;
   justify-content: center;
   align-items: center;
   flex-direction: row;
}

.middle-section {
   height: 50vh;
}

.bottom-section {
   height: 70vh;
}

.desc {
   display: flex;
   justify-content: center;
   align-items: center;
   flex-direction: column;
   width: 50%;
}

.section1 {
   font-size: 1.3rem;
   font-weight: 600;
   margin: 0.3rem;
}

.container1 {
   height: 20%;
   margin: 1rem;
}
.container2 {
   height: 80%;
}
