.skills-container {
   display: flex;
   justify-content: center;
   align-items: center;
   flex-direction: column;

   overflow-x: hidden;
}

.hard-skills,
.soft-skills {
   display: flex;
   justify-content: center;
   align-items: center;
   flex-direction: column;
}

.space {
   height: 10vh;
}

/* Buttons Filter Hard and Soft Skills */

.buttons {
   display: flex;
   justify-content: center;
   align-items: center;
   padding: 1rem;
}

.skill-type {
   display: flex;
   justify-content: center;
   align-items: center;
   margin: 2rem 0 0 0;
   width: 35%;
   color: white;
   border: 1px solid white;
   border-radius: 5px;
}

.bottom-item .skill-type p {
   text-align: center;
   font-size: 0.8rem;
   font-weight: 900;
}
.top-item,
.item,
.bottom-item {
   display: flex;
   justify-content: center;
   align-items: center;
}

/* .top-item {
   flex-direction: column;
} */

.item {
   flex-direction: column;
   justify-content: space-between;
   margin: 1rem auto 1rem auto;
   padding: 0.5rem;
   width: 85%;
   height: 80%;
   border-radius: 10px;
   transition: 0.5s ease-in-out;
   box-shadow: 0 0 10px 2px transparent;
   border: 3px solid white;
}

.item:hover {
   transform: scale(1.03);
}
.top-item {
   padding: 1rem;
   color: white;
   font-weight: 700;
   height: 20%;
   width: 100%;
   justify-content: space-around;
   border-radius: 5px;
}

.top-item .name {
   padding-left: 1rem;
   font-size: 1.6rem;
}

.bottom-item {
   margin: 0 auto;
   width: 100%;
   height: 100%;
   justify-content: space-around;
   flex-direction: column;
   padding: 1rem;
   border-radius: 5px;
   color: white;
}

.bottom-item p {
   padding: 0.2rem;
   line-height: 1.3rem;
   font-size: 1.1rem;
   font-weight: 700;
   width: 100%;
   margin: 0.3rem;
   transition: 0.4s;
   border-bottom: 1px solid transparent;
}

.list-element {
   width: 100%;
   display: flex;
   justify-content: center;
   align-items: center;
}
.dot {
   margin: 0.5rem;
   background-color: white;
   height: 5px;
   width: 5px;
   border-radius: 50%;
}

.item.react {
   background-color: rgb(94, 211, 243);
}

.item.react:hover {
   box-shadow: 0 0 10px 3px rgb(94, 211, 243);
}

.item.react .bottom-item {
   background-color: rgba(94, 211, 243, 0.8);
}

.item.javascript:hover {
   box-shadow: 0 0 10px 3px rgb(234, 212, 29);
}

.item.javascript {
   background-color: rgb(240, 218, 20);
}

.item.html:hover {
   box-shadow: 0 0 10px 3px rgb(229, 96, 38);
}

.item.html {
   background-color: rgb(229, 96, 38);
}

.item.css:hover {
   box-shadow: 0 0 10px 3px rgb(37, 74, 221);
}
.item.css {
   background-color: rgb(37, 74, 221);
}

.item.soft:hover {
   box-shadow: 0 0 10px 3px #218be8;
}

.item.soft {
   background-color: #218be8;
}

.item.concepts {
   background-color: #5d21e8;
}
.item.concepts:hover {
   box-shadow: 0 0 10px 3px #5d21e8;
}

/* later */

.logo {
   display: flex;
   align-items: center;
   font-size: 3rem;
   color: white;
}

span.mark {
   font-style: italic;
   font-weight: 500;
}

@media screen and (min-width: 701px) {
   .item {
      width: 40vw;
      height: 70vh;
      margin: 1rem;
   }
   .hard-skills,
   .soft-skills {
      flex-wrap: wrap;
      flex-direction: row;
   }
   .buttons {
      max-width: 700px;
   }
   .skills-container {
      padding-bottom: 8rem;
   }
}
@media screen and (min-width: 1001px) {
   .item {
      width: 28vw;
      margin: 1rem;
   }
   .hard-skills,
   .soft-skills {
      flex-wrap: wrap;
      flex-direction: row;
   }
}
